
.menu_vertical {
    display: table;
    padding-left: 0%;
}

.menu_horizontal {
    display: flex;
    padding-left: 0%;
}



.menu_list {
    text-align: inherit;
    display: inherit;
    padding-top: 0%;
    padding-left: 0%;
}



li {
    list-style: none;
}


.menu_item {
    display: block;
    text-align: inherit;
    position: relative;
}

.menu_collapsible {
    left: -150%;
    transition: 0.5s;
}

.menu_static {
    left: 0% !important;
    transition: 0s;
}


.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}